<div class="peek-nav-section"></div>

<div class="peek-nav-bar-padding">
    <div class="peek-information-section">
        <h3>Segment Index</h3>
        <p>
            Load Complete : {{segmentIndexStatus.initialLoadComplete}}<br />
            Load Progress :
            {{segmentIndexStatus.loadProgress}}/{{segmentIndexStatus.loadTotal}}<br />
            Last Check : {{segmentIndexStatus.lastCheck}}<br />
        </p>
        <h3>Item Key Index</h3>
        <p>
            Load Complete : {{itemKeyIndexStatus.initialLoadComplete}}<br />
            Load Progress :
            {{itemKeyIndexStatus.loadProgress}}/{{itemKeyIndexStatus.loadTotal}}<br />
            Last Check : {{itemKeyIndexStatus.lastCheck}}<br />
        </p>
    </div>
</div>
